<div class="glossary-wrapper">
  <h2>
    Glossary Terms
    <div class="modal-close-btn" style="float: right;" (click)="closeDialog()"><i class="fa fa-times"></i></div>
  </h2>
  <div class="glossary-wrapper__inner-container">
    <section class="container-body">
        <table>
          <thead>
            <tr class="container-body__data-row ">
              <th>
                S No.
              </th>
              <th>
                Legal Terms
              </th>
              <th>
                Definition
              </th>
            </tr>
          </thead>
            <tr class="container-body__data-row "*ngFor="let item of glossaryWordArray; let i = index">
              <td>
                {{i +1}}
              </td>
              <td>
                {{item?.wordindex.word}}
              </td>
              <td>
                {{item?.wordindex.description}}
              </td>
            </tr>
        </table>
    </section>
  </div>
</div>
