
<div class="glossary-wrapper">
  <div class="glossary-wrapper__inner-container">
    <section class="container-body">
      
      
        <table>
          <!-- <div > -->
          <tr class="container-body__data-row pointer" *ngFor="let item of glossaryListArray; let i = index">
            <td>
              {{i +1}}
            </td>
            <td>
              {{item?.word}}
            </td>
            <td>
              {{item?.description}}
            </td>
          </tr>
        <!-- </div> -->

        </table>
        <!-- <div class="row-left-item">
          <p class="row-num">{{i + 1}}</p> 
          <p class="word">{{item?.word}}</p>
        </div>
        <div class="row-right-item mb-0">
          <p class="description ">{{item?.description}}</p>
        </div> -->
    </section>
  </div>
</div>
<app-footer></app-footer>
